/* ---------------------- main ----------------------- */
body{
    background-color: #f7f3f0;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
footer{
    color: blue;
    text-align: center;
    margin: 50px;
}
/* --------------------- Nav Bar ------------------------ */
nav{
    display: flex;
    justify-content: space-between;
    background-image: url('bg3.jpg');
    height: 100px;
}
nav > a > h1{
    margin-top: 20px;
    margin-left: 150px;
    color: black
}
/* btn login & signup */
nav > div > a {
    margin-right: 30px;
}
nav > div {
    padding-top: 10px;
}
/* text welcome user */
nav > h6{
    margin-top: 20px;
    margin-left: 50px;
    font-style:italic;
    color:rgb(11, 77, 73)
}
nav{
    border-bottom: rgb(218, 211, 207) solid 1px;
}
.logout{
    margin-right: 20px;
}
/* -------------------- add question form ------------------- */
.addQuestionTitle{
    margin-left: 320px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-style: italic;
    display: flex;
}
.addQuestionTitle > img{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 3px;
}
body > div > h3{
    color: blue;
}
.add-question form{
    max-width: 500px;
    margin: auto;
}
.add-question input, .add-question textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.add-question label{
    display: block;
    margin-top: 24px;
}
textarea{
    height: 300px;
}
.add-question > form > button{
    margin-left: 100px;
}
.btnBackQuestion{
    margin-top: 20px;
}
/* ----------------------- button ------------------------------ */
.btn-info:hover, .btn-primary:hover, .btn-success:hover{
    color: black;
    /* font-weight: 500; */
    background-color:turquoise;
    border: none;
    transform: scale(1.1);
}
.btn-danger:hover, .btn-warning:hover{
    color: black;
    background-color: orangered;
    transform: scale(1.1);
}
.btn-warning:hover{
    color: black;
    background-color:rgb(230, 230, 42);
    transform: scale(1.1);
}
#btn-editQuestion{
    margin: 30px 0 0 110px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}
/* ------------------------- Homepage ----------------------- */
.card-title{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    background-color: lightblue;
    border-radius: 5px;
    padding: 2px 5px 2px 10px;
}
.card-title-question-home{
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float:left;
}
.cardHover:hover{
    transform: scale(1.05);
}
.content{
    text-align: justify;
}
.cardsContainer{
    display: inline;
    /* margin left between 2 cards */
    margin-left: 120px; 
    position: relative;
}
.card{
    margin-bottom: 50px;
    display:table-row-group;
    width: 400px;
    height: 170px;
    box-shadow: 0px -8px 10px lightgrey;
    display:-webkit-inline-box;
}
.card-text{
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow:clip;
    font-size: 12px;
    height: 40px;
    width: 70%;
}
#created-info{
    font-style: italic;
    font-size: 10px;
    padding-bottom: 1px;
    text-align: left;
    position: absolute;
    left: 10px;
    margin: 10px;
} 
#created-info > p{
    margin-bottom: 1px;
}
#created-info > a{
    font-size: 12px;
    font-weight: 500;
   
}
.seeMore{
    position: absolute;
    left: 275px;
    margin: 25px;
    font-size: 12px;
}
.countAnswer{
    position: absolute;
    bottom: 20px;
    left: 280px;
    margin: 20px;
    font-size: 12px;
}
.home-img{
    width: 100%;
    text-align: center;
    margin-bottom: 50PX;
}
/* ----------------- showOneQuestion ----------------------------*/
#cardShowOne{
    display: block;
    margin-top: 50px;
    width: 700px;
    height: auto;
    margin-left: 200px;
}
.card-textOneQuestion{
    white-space: pre-wrap;
    margin-bottom: 10px;
}
.created-info-showOne{
    font-style: italic;
    font-size: 10px;
    padding-bottom: 1px;
}
.created-info-showOne > p{
    margin-bottom: 1px;
}
.edit-delete-question{
    text-align: right;
}
#fieldAnswer{
    width: 83% ;
    padding: 5px 7px;
    margin-top: 5px;
    border-radius: 30px;
}
.answerButton{
    margin: 0 0 5px 30px;
}
.answerForm > label{
    font-weight: 700;
    margin-bottom: 1px;
}
.btnEditDelQuestion{
    margin-left: 10px;
}
.titleShowOne{
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
/* ------------------------show answer ------------------------- */
.showAnswer{
    background-color:rgb(238, 232, 232);
    margin: 10px 0 20px 50px;
    padding: 10px 20px 1px 20px;
    border-radius: 30px;
}
.showAnswer{
    font-size: 12px;
}
.btnEditDelAnswer{
    font-size: 10px;
}
.g-btnEditDelAnswer{
    display: flex;
    justify-content: inline;
    margin-bottom: 10px;
    margin-left: 410px;
}
/* btn delete answer */
.g-btnEditDelAnswer > a{
    margin-left: 10px;
}
.createdInfo-Answer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/* ----------------- form SignIn & Sign up --------------------- */
form h2{
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
    text-align: center;
  }
input{
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    width: 100%;
}
label{
    display: block;
    margin: 20px 0 10px;
    font-weight: 600;
}
button{
    margin-top: 30px;
    border-radius: 36px;
    background: #FEE996;
    border:0;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
}
.formLogIn{
    width: 360px;
    margin: auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: white;
}
.loginContainer{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
}
.imgLogIn{
    margin: auto;
}
.formSignUp{
    width: 360px;
    margin: auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: white;
}
.signUpContainer{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}
.imgSignUp{
    width: 50%;
    margin: auto;
}
/* ------------------------------------------------------------------ */
.error-msg{
    color: red;
}
#err{
    color: red !important;
}
