#cardShowOne{
    display: block;
    margin-top: 50px;
    width: 700px;
    height: auto;
    margin-left: 200px;
}
.card-textOneQuestion{
    white-space: pre-wrap;
    margin-bottom: 10px;
}
.created-info-showOne{
    font-style: italic;
    font-size: 10px;
    padding-bottom: 1px;
}
.created-info-showOne > p{
    margin-bottom: 1px;
}
.edit-delete-question{
    text-align: right;
}
#fieldAnswer{
    width: 83% ;
    padding: 5px 7px;
    margin-top: 5px;
    border-radius: 30px;
}
.answerButton{
    margin: 0 0 5px 30px;
}
.answerForm > label{
    font-weight: 700;
    margin-bottom: 1px;
}
.btnEditDelQuestion{
    margin-left: 10px;
    margin-top: 2px;
}
.titleShowOne{
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
.showAnswer{
    background-color:rgb(238, 232, 232);
    margin: 10px 0 20px 50px;
    padding: 10px 20px 1px 20px;
    border-radius: 30px;
}
.showAnswer{
    font-size: 12px;
}
.btnEditDelAnswer{
    font-size: 10px;
}
.g-btnEditDelAnswer{
    display: flex;
    justify-content: inline;
    margin: 0 0 10px 360px;
}
/* btn delete answer */
.btnDel{
    margin-left: 10px;
}
.createdInfo-Answer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}